.search_container{
  position: relative;
  box-sizing: border-box;
  border: 2px solid #3879D9;
  padding: 3px 10px;
  border-radius: 3px;
  height: 2.3em;
  /*width: 265px;*/
  width: 85%;
  margin: 30px auto 0 auto;
  overflow: hidden;
}
.search_container input[type="text"]{
  border: none;
  height: 2.0em;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  border: none;
  background: #3879D9;
  color: #fff;
  position: absolute;
  width: 3.5em;
  height: 3.0em;
  right:0px;
  top: -5px;
  outline : none;
}

a{
  text-decoration: none;
}

/*ナビメニューのスタイルを指定*/
nav.NavMenu{
  position: fixed; /*表示位置を固定*/
  z-index: 10;
  top: 0;
  left: 0;
  background: #fff;
  color: #000;
  text-align: center;
  width: 100%;
  transform: translateY(-100%); /*ナビを上に隠す*/
  transition: all 0.6s; /*アニメーションの時間を指定*/
  }

  nav.NavMenu ul{
  background: #000;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  }

  nav.NavMenu ul li{
  font-size: 24px;
  list-style-type: none;
  width: 100%;
  padding-bottom: 0px;
  }

  nav.NavMenu ul li:last-child{
  padding-bottom: 0;
  }

  nav.NavMenu ul li a{
  display: block;
  color: #fff;
  padding: 10px 0;
  }

  /*トグルボタンが押されたときに付与するクラス*/
  nav.NavMenu.active{
  transform: translateY(0%);
  }

    /*トグルボタンのスタイルを指定*/
  .Toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 45px;
  height: 45px;
  cursor: pointer;
  z-index: 13;
  background-color: #000;
  }

  .Toggle span {
  display: block;
  position: absolute;
  width: 31px;
  border-bottom: solid 3px #fff;
  -webkit-transition: .35s ease-in-out; /*変化の速度を指定*/
  -moz-transition: .35s ease-in-out;    /*変化の速度を指定*/
  transition: .35s ease-in-out;     /*変化の速度を指定*/
  left: 7px;
  }

  .Toggle span:nth-child(1) {
    top: 10px;
  }

  .Toggle span:nth-child(2) {
    top: 20px;
  }

  .Toggle span:nth-child(3) {
    top: 30px;
  }

  /* 最初のspanをマイナス45度に */
  .Toggle.active span:nth-child(1) {
    top: 18px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-bottom: solid 3px #fff;
  }

  /* 2番目と3番目のspanを45度に */
  .Toggle.active span:nth-child(2),
  .Toggle.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom: solid 3px #fff;
  }
